@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.ttf');
}

@theme {
  --font-perm: 'Permanent Marker', sans-serif;
  --font-rub: 'Rubik', sans-serif;
}
